* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	/*border: 1px solid aqua;*/
}

body nav,
body section,
footer {
	padding: 0px 140px 0px 140px;
}

.section {
	height: 100vh;
}

/*////////////////////////////////////
// Headings
////////////////////////////////////*/
.heading {
	color: #394153;
}

.heading__h2 {
	font-size: 50px;
	font-weight: 700;
	margin-top: 33.5px;
}

/*////////////////////////////////////
// Paragraph
////////////////////////////////////*/
.paragraph {
	color: #767E90;
	font-size: 18px;
	line-height: 35px;
}

.paragraph__secondary {
	color: #394153;
	font-size: 18px;
	font-weight: 700;
}