.navbar {
	align-items: center;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
	display: flex;
	flex-wrap: wrap;
	height: 84px;
	justify-content: space-between;
}

.navbar h1 {
	color: #6EE5CA;
	font-size: 20px;
}

.navbar__contact {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.navbar__envelope {
	color: #767E90;
	font-size: 18px;
	margin-right: 11px;
	position: relative;
	top: 2.5px;
}

.navbar__contact a {
	color: #767E90;
	text-decoration: none;
	margin-left: 59px;
}

.navbar__menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
}

.navbar__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	margin-right: 36px;
	text-transform: uppercase;
	width: 67px;
}

.navbar__item--active {
	background: #323E8F;
	border-radius: 8px;
	color: #FFFFFF;
}

.navbar__item a {
	color: #767E90;
	font-size: 14px;
}

.navbar__menu a {
	text-decoration: none;
}

.navbar__item--active a {
	color: #FFFFFF;
}